body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.3;
  color:#565967;
}  

.control-strip{
  background: #c5ccea;
  padding: 1rem;
  box-shadow: 0 0 5px 0 #617cf3;
}

.strip-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  width: 2rem;
}

.login{
  max-width: 420px;
  margin: 2rem auto;
}
.password{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px 0 #565967;
  padding: 1rem;
  border-radius: 12px;
}

.password input{
  border:none;
  flex:1;
  margin: 0 0.5rem;
}

.password input, .password label{
  font-size: 1.5rem;
}